<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container text-center">
    <a class="navbar-brand" href="/">
      <h2 class="m-0"><b>DevTest</b></h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container align-items-center">
        <li class="col-sm nav-item" *ngIf="canVerPTests()">
          <a [routerLink]="['/']" fragment="ptests" class="nav-link fw-bold">TESTS</a>
        </li>
        <li class="col-sm nav-item" *ngIf="canVerETests()">
          <a [routerLink]="['/etests']" class="nav-link fw-bold">TESTS BORRADORES</a>
        </li>
        <li class="col-sm nav-item" *ngIf="canVerEQuestions() || canVerPQuestions()">
          <a [routerLink]="['/questions']" class="nav-link fw-bold">PREGUNTAS PUBLICAS</a>
        </li>
        <li class="col-sm nav-item">
          <a [routerLink]="['/login']" class="nav-link fw-bold">INICIAR SESIÓN</a>
        </li>
        <li class="col-sm nav-item">
          <a [routerLink]="['signin']" class="nav-link fw-bold">REGISTRARSE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>