<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container text-center">
    <a class="navbar-brand" href="/">
      <h2 class="m-0"><b>DevTest</b></h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container align-items-center justify-content-md-start">
      </ul>
      <ul class="navbar-nav ml-auto container d-flex align-items-center justify-content-md-end">
        <li class="col-sm-3 nav-item mx-3 text-nowrap">
          <a [routerLink]="['/login']" class="nav-link fw-bold">INICIAR SESIÓN</a>
        </li>
        <li class="col-sm-3 nav-item mx-3">
          <a [routerLink]="['signin']" class="nav-link fw-bold">REGISTRARSE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>