<div class="mt-3">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <h4 *ngIf="equipo.isSoloProfesores()">Equipo de profesores</h4>
    <h4 *ngIf="!equipo.isSoloProfesores()">Equipo de estudiantes</h4>
    <h2>{{equipo.getTeamname()}}</h2>
    <h3><small class="text-muted">{{equipo.getDescription()}}</small></h3>
    <div class="my-1">
        <button data-bs-toggle="modal" data-bs-target="#updateTeamModal" class="button btn btn-primary"
            *ngIf="checkTeamAdmin()">Modificar Datos</button>
        <button class="button btn btn-danger mx-2" data-bs-toggle="modal" *ngIf="checkTeamMember()"
            data-bs-target="#leaveModal"><span *ngIf="!lastMember()">Abandonar</span><span
                *ngIf="lastMember()">Abandonar y
                eliminar</span></button>
    </div>
    <div class="my-1">
        <button class="button btn btn-primary" [routerLink]="['/teams', equipo.getTeamname(), 'invitedTests']">Ver tests
            a los que está invitado</button>
        <button class="button btn btn-primary mx-2" *ngIf="equipo.isSoloProfesores()"
            [routerLink]="['/teams', equipo.getTeamname(), 'adminTests']">Ver tests administrados</button>
        <button class="button btn btn-primary" *ngIf="equipo.isSoloProfesores()"
            [routerLink]="['/teams', equipo.getTeamname(), 'adminQuestions']">Ver preguntas administrados</button>
    </div>
    <hr />
    <!-- Modal modificar -->
    <div *ngIf="checkTeamAdmin()" class="modal fade" id="updateTeamModal" tabindex="-1"
        aria-labelledby="updateTeamModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ngNativeValidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateTeamModalLabel">Modificar equipo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputTeamname" class="form-label">Nombre del equipo</label>
                            <input type="text" class="form-control" name="inputTeamname" aria-describedby="teamnameHelp"
                                [(ngModel)]="teamEdit.teamname" required />
                            <div id="teamnameHelp" class="form-text text-muted">El nombre único del équipo</div>
                        </div>
                        <div class="mb-3">
                            <label for="inputDescription" class="form-label">Descripción</label>
                            <input type="text" class="form-control" name="inputDescription"
                                aria-describedby="descriptionHelp" [(ngModel)]="teamEdit.description" />
                            <div id="descriptionHelp" class="form-text text-muted">Información detallada del equipo
                                (opcional)</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" role="button" data-bs-dismiss="modal"
                            (click)="updateTeamClick()" value="Guardar" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal salir -->
    <div *ngIf="checkTeamMember()" class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="leaveModalLabel">
                        <span *ngIf="!lastMember()">¿Abandonar el equipo?</span><span *ngIf="lastMember()">¿Abandonar y
                            eliminar el equipo?</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
                </div>
                <div class="modal-body">
                    <span *ngIf="!lastMember()">¿Abandonar el equipo?</span><span *ngIf="lastMember()">¿Abandonar y
                        eliminar el equipo?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" role="button" data-bs-dismiss="modal"
                        (click)="leaveTeamClick()"><span *ngIf="!lastMember()">Abandonar</span><span
                            *ngIf="lastMember()">Abandonar y eliminar</span></button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <h4>Administradores:</h4>
        <table class="table table-striped table-hover table-primary">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Correo electrónico</th>
                    <th>Nombre completo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let admin of admins">
                <tr>
                    <td><a class="link-dark" [routerLink]="['/profile', admin.username]">{{admin.username}}</a></td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.fullname}}</td>
                    <td style="width:1%">
                        <div class="btn-group dropstart" role="button" *ngIf="checkTeamAdmin()">
                            <a data-bs-toggle="dropdown" class="link-dark" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" *ngIf="checkTeamAdmin()"
                                        (click)="putMemberClick(admin.username)">Retirar permisos de administrador</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="my-4">
        <h4>Miembros:</h4>
        <div *ngIf="checkTeamAdmin()">
            <form *ngIf="!createUser" (ngSubmit)='addMemberSubmit()' ngNativeValidate>
                <p><a class="link-dark m-3" role="button" (click)="changeAddUser()">Crear cuenta de usuario por correo
                        electronico</a></p>
                <div class="input-group my-3">
                    <input class="button btn btn-primary" type="submit" value="Añadir miembro" />
                    <input type="text" class="form-control" name="inputAddMember" aria-describedby="inputAddMemberHelp"
                        [(ngModel)]="addMiembroUsername" placeholder="Nombre de usuario" />
                </div>
            </form>
            <form *ngIf="createUser" (ngSubmit)='createAddMemberSubmit()' ngNativeValidate>
                <p><a class="link-dark m-3" role="button" (click)="changeNotAddUser()">Añadir usuario existente</a></p>
                <div class="input-group my-3">
                    <input class="button btn btn-primary" type="submit" value="Crear Usuario y Añadir miembro" />
                    <input type="text" class="form-control" name="inputAddMember" aria-describedby="inputAddMemberHelp"
                        [(ngModel)]="addMiembroUsername" placeholder="Correo electrónico" required />
                </div>
            </form>
            <div class="form-check form-switch my-2">
                <input class="form-check-input" type="checkbox" id="flexSwitchSendEmail" [checked]="checkedSendEmail"
                    (change)="changeFlexSendEmail()">
                <label class="form-check-label" for="flexSwitchSendEmail">Enviar notificación por correo</label>
            </div>

            <p *ngIf="!enviaMensaje && checkedSendEmail"><a class="link-dark mx-3" role="button" (click)="changeEnviaMensaje()">Enviar
                    mensaje personalizado en la notificación</a></p>
            <p *ngIf="enviaMensaje && checkedSendEmail"><a class="link-dark mx-3" role="button" (click)="changeNoEnviaMensaje()">No enviar
                    mensaje personalizado en la notificación</a></p>

            <div *ngIf="enviaMensaje" class="input-group my-3">
                <textarea class="form-control" name="inputAddQuestion" [(ngModel)]="customMessageNotification"
                    placeholder="Mensaje personalizado"></textarea>
            </div>
        </div>
        <table class="table table-striped table-hover table-primary">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Correo electrónico</th>
                    <th>Nombre completo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngFor="let miembro of miembros">
                <tr>
                    <td><a class="link-dark" [routerLink]="['/profile', miembro.username]">{{miembro.username}}</a></td>
                    <td>{{miembro.email}}</td>
                    <td>{{miembro.fullname}}</td>
                    <td style="width:1%">
                        <div class="btn-group dropstart" role="button" *ngIf="checkTeamAdmin()">
                            <a data-bs-toggle="dropdown" class="link-dark" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" *ngIf="checkTeamAdmin()"
                                        (click)="putAdminClick(miembro.username)">Convertir en administrador</a></li>
                                <li><a class="dropdown-item" *ngIf="checkTeamAdmin()"
                                        (click)="mighDeleteClick(miembro.username)" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal">Expulsar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal expulsar -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">¿Expulsar a
                            {{mightKickUsername}}?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancelar"></button>
                    </div>
                    <div class="modal-body">
                        ¿Expulsar a {{mightKickUsername}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="deleteMemberClick(mightKickUsername)">Expulsar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>