<app-mensaje></app-mensaje>
<div class="container my-5">
    <button class="button btn btn-outline-primary m-3" [routerLink]="['/login']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
        Volver
    </button>
    <form (ngSubmit)='forgotSubmit()' ngNativeValidate>
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Nombre de usuario o Correo electrónico</label>
            <input type="text" class="form-control" name="inputUsername" aria-describedby="usernameHelp"
                [(ngModel)]="userid" required />
            <div id="usernameHelp" class="form-text text-muted">El nick o correo asociado a tu cuenta</div>
        </div>
        <div class="d-grid gap-2">
            <input type="submit" value="Enviar correo de recuperación" class="btn btn-primary btn-lg" id="buttonLoginSignin" />
        </div>
    </form>
</div>