swagger: '2.0'
info:
  description: DevTest
  version: 1.0.0
  title: DevTest
  # put the contact info for your development or API team
  contact:
    email: javigaton@gmail.com

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

# tags are used for organizing operations
tags:
- name: user
  description: Operations related to users
- name: auth
  description: Operations related to authentication
paths:
  /users:
    post:
      tags:
      - user
      - auth
      summary: adds an user
      operationId: RegisterUser
      description: Adds an user to the system
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: signinUser
        description: User item to add
        schema:
          $ref: '#/definitions/SigninUser'
      responses:
        201:
          description: user created
          schema:
            $ref: '#/definitions/User'
        400:
          $ref: '#/responses/BadRequestError'
        409:
          $ref: '#/responses/ConflictError'
        500:
          $ref: '#/responses/InternalServerError'
  /accesstokens:
    post:
      tags:
      - auth
      summary: Registers a new authorized connection token
      operationId: Login
      description: Tries to login, and gets a JWT auth token if successful
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: loginUser
        description: User who is trying to generate a token
        schema:
          $ref: '#/definitions/LoginUser'
      responses:
        200:
          description: Successful authentication
          schema:
            $ref: '#/definitions/JWTJson'
        400:
          $ref: '#/responses/BadRequestError'
        410:
          $ref: '#/responses/GoneError'
        500:
          $ref: '#/responses/InternalServerError'
          
responses:
  BadRequestError:
    description: Incorrect Request, or invalida data
    schema:
      $ref: '#/definitions/Error'
  ConflictError:
    description: A user with same username/email already exists
    schema:
      $ref: '#/definitions/Error'
  GoneError:
    description: That user (password and name) does not exist
    schema:
      $ref: '#/definitions/Error'
  InternalServerError:
    description: Internal error
definitions:
  SigninUser:
    type: object
    required:
    - username
    - email
    - pass
    properties:
      username:
        type: string
        example: carlosg72
      email:
        type: string
        example: carlos@mail.com
      pass:
        type: string
        example: pass
  LoginUser:
    type: object
    required:
    - loginid
    - pass
    properties:
      loginid:
        type: string
        example: carlosg72 || carlos@mail.com #??????
      pass:
        type: string
        example: pass
  JWTJson:
    type: object
    required:
    - token
    properties:
      token:
        type: string
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
  User:
    type: object
    required:
    - username
    - email
    properties:
      username:
        type: string
        example: carlosg72
      email:
        type: string
        example: carlos@mail.com
  Error:
    type: object
    required:
    - message
    properties:
      message:
        type: string
        example: Object not found
securityDefinitions:
  # X-API-Key: abcdef12345
  APIKeyHeader:
    type: apiKey
    in: header
    name: X-API-Key
  # /path?api_key=abcdef12345
  APIKeyQueryParam:
    type: apiKey
    in: query
    name: api_key
host: localhost
basePath: /DevTest
schemes:
 - https
