<app-nav-bar></app-nav-bar>
<div class="mt-5">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <div class="my-3">
        <h4>Test #{{test.id}}</h4>
        <h2>{{test.title}}</h2>
        <p>Autor: <a [routerLink]="['/profile', test.username]">{{test.username}}</a></p>
        <div *ngIf="checkCloneTest()">
            <p><button type="button" class="btn btn-outline-primary" (click)="cloneTestClick()">Clonar</button></p>
            <p>
                <input type="checkbox" class="btn-check" id="btn-check-2" [checked]="isFavorita"
                    (click)="changeFavorita()">
                <label class="btn btn-outline-success" for="btn-check-2"><span *ngIf="!isFavorita">Guardar
                        Favorito</span><span *ngIf="isFavorita">Guardado Favorito</span></label>
            </p>
        </div>
        <p *ngIf="checkPermisosEdicion()"><button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                data-bs-target="#modalPublishTest">Publicar</button></p>
        <p><button type="button" class="btn btn-primary" [routerLink]="['/et', test.id, 'ptests']">Ver
                Publicaciones</button></p>
        <p>Etiquetas:
            <span *ngFor="let tag of tags">
                <span *ngIf="checkPermisosEdicion()">
                    <span class="badge bg-warning" role="button" id="{{tag.tag}}" data-bs-toggle="dropdown"
                        aria-expanded="false">{{tag.tag}}</span>;
                    <ul class="dropdown-menu" attr.aria-labelledby="{{tag.tag}}">
                        <li><a class="dropdown-item" role="button" (click)="deleteTagClick(tag.tag)">Eliminar</a></li>
                    </ul>
                </span>
                <span *ngIf="!checkPermisosEdicion()">
                    <span class="badge bg-warning">{{tag.tag}}</span>;
                </span>
            </span>
        </p>
        <form *ngIf="checkPermisosEdicion()" (ngSubmit)='addTagSubmit()' ngNativeValidate>
            <div class="input-group my-3">
                <input class="button btn btn-primary" type="submit" value="Añadir etiqueta" />
                <input type="text" class="form-control" name="inputAddTag" [(ngModel)]="newTag" placeholder="Etiqueta"
                    required pattern=".+" />
            </div>
        </form>
        <p><b>Descripción:</b>
        <p>
        <div class="mb-4">
            <span style="white-space: pre-line">{{test.description}}</span>
        </div>
        <p><b>Tiempo disponible:</b> {{test.maxMinutes}} minutos</p>
        <p><b>Acceso público a realización: </b> <span *ngIf="test.accesoPublico">Sí</span><span
                *ngIf="!test.accesoPublico">No</span>
        <p><b>Visionado público para profesores: </b> <span *ngIf="test.accesoPublicoNoPublicado">Sí</span><span
                *ngIf="!test.accesoPublicoNoPublicado">No</span>
        </p>
        <p><b>Publicación automática de corrección de respuestas: </b> <span *ngIf="test.autoCorrect">Sí</span><span
                *ngIf="!test.autoCorrect">No</span></p>
        <p><button class="btn btn-primary" type="button" [routerLink]="['/et', test.id, 'teams']">Ver equipos
                administradores</button></p>
        <p><button *ngIf="checkPermisosEdicion()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#editTestModal">Editar Test</button></p>
        <hr />
        <h4>Preguntas:</h4>
        <form *ngIf="checkPermisosEdicion()" (ngSubmit)='addQuestionSubmit()' ngNativeValidate>
            <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
                {{getMensaje().texto}}</div>
            <div *ngIf="addQuestionById">
                <div class="input-group my-3">
                    <input class="button btn btn-primary" type="submit" value="Añadir pregunta por ID" />
                    <input type="number" class="form-control" name="inputAddQuestion" [(ngModel)]="addQuestionId"
                        placeholder="Id de la pregunta" required min=1 />
                </div>
                <p><a class="link-dark m-3" role="button" (click)="changeNotAddByID()">Añadir con buscador</a></p>
            </div>
            <div class="my-3" *ngIf="!addQuestionById">
                <p><button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                        data-bs-target="#modalSearchQuestion" (click)="borrarMensaje()">Añadir pregunta</button></p>
                <p><a class="link-dark mx-3" role="button" (click)="changeAddByID()">Añadir por id</a></p>
            </div>
        </form>
        <table class="table table-striped table-hover table-primary my-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Tiempo Estimado</th>
                    <th>Tipo</th>
                    <th>Valor en test</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pregunta of preguntas">
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.id}}</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.title}}</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.username}}</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.estimatedTime}} minutos</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{tipoPrint(pregunta.tipoPregunta,
                        pregunta.eleccionUnica)}}</td>
                    <td *ngIf="checkPermisosEdicion()" (submit)="changeValueSubmit(pregunta)">
                        <form ngNativeValidate>
                            <div class="row">
                                <div class="col-auto">
                                    <input type="number" class="form-control" name="inputChangeValorFinal"
                                        [(ngModel)]="pregunta.valorFinal" required min=0 />
                                </div>
                                <div class="col-auto">
                                    <input class="button btn btn-primary" type="submit" value="Guardar valor" />
                                </div>
                            </div>
                        </form>
                    </td>
                    <td *ngIf="checkPermisosEdicion()">
                        <div class="btn-group dropstart" role="button">
                            <a data-bs-toggle="dropdown" class="link-dark" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="quitarPreguntaClick(pregunta.id)">Quitar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td *ngIf="!checkPermisosEdicion()">{{pregunta.valorFinal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editTestModal" *ngIf="checkPermisosEdicion()" tabindex="-1"
        aria-labelledby="editTestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ngNativeValidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="editQuestionModalLabel">Modificar Test</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputTitle" class="form-label">Título del test</label>
                            <input type="text" class="form-control" name="inputTitle" [(ngModel)]="testEdit.title"
                                required />
                        </div>
                        <div class="mb-3">
                            <label for="inputDescription" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" name="inputDescription"
                                [(ngModel)]="testEdit.description" required rows=3></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="inputTime" class="form-label">Tiempo disponible (minutos)</label>
                            <input type="number" class="form-control" name="inputTime" [(ngModel)]="testEdit.maxMinutes"
                                required min=0 />
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="testEdit.accesoPublico"
                                (change)="testEdit.accesoPublico = !testEdit.accesoPublico">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Acceso público a
                                realización</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckLectura"
                                [checked]="testEdit.accesoPublicoNoPublicado"
                                (change)="testEdit.accesoPublicoNoPublicado = !testEdit.accesoPublicoNoPublicado">
                            <label class="form-check-label" for="flexSwitchCheckLectura">Visionado público para
                                profesores</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckAutoCorrect"
                                [checked]="testEdit.autoCorrect"
                                (change)="testEdit.autoCorrect = !testEdit.autoCorrect">
                            <label class="form-check-label" for="flexSwitchCheckAutoCorrect">Publicación automática de
                                corrección de respuestas</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Guardar" data-bs-dismiss="modal" class="btn btn-primary"
                            (click)='putTestSubmit()' id="buttonSubmitTest" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Buscador preguntas-->
    <div class="modal fade" id="modalSearchQuestion" tabindex="-1" aria-labelledby="modalSearchQuestionLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSearchQuestionLabel">Buscador de preguntas para añadir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message"
                        role="alert">
                        {{getMensaje().texto}}</div>
                    <p>Pulsa la pregunta que quieras añadir</p>
                    <app-lq-add-question-test (onQuestionPicked)="questionPicked($event)"></app-lq-add-question-test>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmacion publicar-->
    <div class="modal fade" id="modalPublishTest" tabindex="-1" aria-labelledby="modalPublishTestLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPublishTestLabel">¿Publicar Test?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message"
                            role="alert">
                            {{getMensaje().texto}}</div>
                        <p>Se creará una copia publicada del test</p>
                        <div class="mb-3">
                            <label for="inputTitle" class="form-label">Título del test</label>
                            <input type="text" class="form-control" name="inputTitle" [(ngModel)]="publishedTitle"
                                required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="publishTestClick()">Publicar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>