<div class="">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <div class="my-3">
        <div class=" card">
            <div class="card-body">
                <div class="row">
                    <h2 class="col">Test: {{test.title}}</h2>
                    <div class="col-sm">
                        <div class="d-grid gap-2 d-flex justify-content-md-end" *ngIf="checkCloneTest()">
                            <button type="button" class="btn btn-outline-primary mx-3 me-md-2" data-bs-toggle="modal"
                                data-bs-target="#modalCloneTest">Clonar</button>
                            <input type="checkbox" class="btn-check" id="btn-check-2" [checked]="isFavorita"
                                (click)="changeFavorita()">
                            <label class="btn btn-outline-success" for="btn-check-2">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 26" width="24px"
                                    fill="currentColor">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
                                </svg>
                                <span *ngIf="!isFavorita">Guardar
                                    Favorito</span><span *ngIf="isFavorita">Guardado Favorito</span>
                                | {{test.cantidadFavoritos}}
                            </label>
                        </div>
                    </div>
                </div>
                <p *ngIf="checkPermisosEdicion()">Autor: <a
                        [routerLink]="['/profile', test.username]">{{test.username}}</a>
                </p>
                <p><button class="btn btn-primary" type="button" [routerLink]="['/et', test.id, 'teams']">Ver equipos
                        administradores</button></p>
                <p>Etiquetas:
                    <span *ngFor="let tag of tags">
                        <span *ngIf="checkPermisosEdicion()">
                            <span class="badge bg-warning text-dark" role="button" id="{{tag.tag}}"
                                data-bs-toggle="dropdown" aria-expanded="false">{{tag.tag}}</span>&nbsp;
                            <ul class="dropdown-menu" attr.aria-labelledby="{{tag.tag}}">
                                <li><a class="dropdown-item" role="button"
                                        (click)="deleteTagClick(tag.tag)">Eliminar</a>
                                </li>
                            </ul>
                        </span>
                        <span *ngIf="!checkPermisosEdicion()">
                            <span class="badge bg-warning text-dark">{{tag.tag}}</span>&nbsp;
                        </span>
                    </span>
                </p>
                <form *ngIf="checkPermisosEdicion()" (ngSubmit)='addTagSubmit()' ngNativeValidate>
                    <div class="input-group my-3">
                        <input class="button btn btn-primary" type="submit" value="Añadir etiqueta" />
                        <input type="text" class="form-control" name="inputAddTag" [(ngModel)]="newTag"
                            placeholder="Etiqueta" required pattern=".+" />
                    </div>
                </form>
                <hr />
                <div class="d-grid gap-2 my-3">
                    <button *ngIf="checkPermisosEdicion()" type="button" class="btn btn-lg btn-primary"
                        data-bs-toggle="modal" data-bs-target="#editTestModal">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 26" width="24px"
                            fill="currentColor">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                        </svg>
                        Editar Test
                    </button>
                </div>
                <p><b>Descripción:</b>
                <p>
                <div class="mb-4">
                    <span style="white-space: pre-line">{{test.description}}</span>
                </div>
                <p><b>Tiempo disponible:</b> {{test.maxMinutes}}
                    minutos</p>
                <p><b>Nota máxima: </b> {{test.notaMaxima}}</p>
                <p><b>Realización pública una vez publicado: </b> <span *ngIf="test.accesoPublico">Sí</span><span
                        *ngIf="!test.accesoPublico">No</span></p>
                <p><b>Acceso público para profesores: </b> <span *ngIf="test.accesoPublicoNoPublicado">Sí</span><span
                        *ngIf="!test.accesoPublicoNoPublicado">No</span>
                </p>
                <p><b>Publicación automática de corrección de respuestas: </b> <span
                        *ngIf="test.autoCorrect">Sí</span><span *ngIf="!test.autoCorrect">No</span></p>
                <p><b>Visibilidad de la respuesta: </b>{{visibilidadToString(test.visibilidad)}}</p>

                <div class="d-grid gap-2">
                    <button *ngIf="checkPermisosEdicion()" type="button" class="btn btn-lg btn-outline-success"
                        data-bs-toggle="modal" data-bs-target="#modalPublishTest">Publicar</button>
                    <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/et', test.id, 'ptests']">Ver
                        Publicaciones</button>
                </div>
            </div>
        </div>
        <h3 class="mt-3">Preguntas:</h3>
        <form *ngIf="checkPermisosEdicion()" (ngSubmit)='addQuestionSubmit()' ngNativeValidate>
            <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
                {{getMensaje().texto}}</div>
            <div *ngIf="addQuestionById">
                <div class="input-group my-3">
                    <input class="button btn btn-lg btn-primary" type="submit" value="Añadir pregunta por ID" />
                    <input type="number" class="form-control" name="inputAddQuestion" [(ngModel)]="addQuestionId"
                        placeholder="Id de la pregunta" required min=1 />
                </div>
                <p><a class="link-dark m-3" role="button" (click)="changeNotAddByID()">Añadir con buscador</a></p>
            </div>
            <div class="my-3" *ngIf="!addQuestionById">
                <div class="d-grid gap-2 mb-3">
                    <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
                        data-bs-target="#modalSearchQuestion" (click)="borrarMensaje()">Añadir pregunta</button>
                </div>
                <p><a class="link-dark mx-3" role="button" (click)="changeAddByID()">Añadir por id</a></p>
            </div>
        </form>
        <table class="table table-striped table-hover table-primary my-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Tiempo Estimado</th>
                    <th>Tipo</th>
                    <th>Valor en test</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pregunta of preguntas">
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.id}}</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.title}}</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.username}}</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{pregunta.estimatedTime}} minutos</td>
                    <td [routerLink]="['/q', pregunta.id]" role="button">{{tipoPrint(pregunta.tipoPregunta,
                        pregunta.eleccionUnica)}}</td>
                    <td *ngIf="checkPermisosEdicion()" (submit)="changeValueSubmit(pregunta)">
                        <form ngNativeValidate>
                            <div class="row">
                                <div class="col-auto">
                                    <input type="number" class="form-control" name="inputChangeValorFinal"
                                        [(ngModel)]="pregunta.valorFinal" required min=0 />
                                </div>
                                <div class="col-auto">
                                    <input class="button btn btn-primary" type="submit" value="Guardar valor" />
                                </div>
                            </div>
                        </form>
                    </td>
                    <td *ngIf="checkPermisosEdicion()">
                        <div class="btn-group dropstart" role="button">
                            <a data-bs-toggle="dropdown" class="link-dark" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                    fill="currentColor">
                                    <path d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" (click)="quitarPreguntaClick(pregunta.id)">Quitar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td *ngIf="!checkPermisosEdicion()">{{pregunta.valorFinal}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="editTestModal" *ngIf="checkPermisosEdicion()" tabindex="-1"
        aria-labelledby="editTestModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <form ngNativeValidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="editQuestionModalLabel">Modificar Test</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputTitle" class="form-label">Título del test</label>
                            <input type="text" class="form-control" name="inputTitle" [(ngModel)]="testEdit.title"
                                required />
                        </div>
                        <div class="mb-3">
                            <label for="inputDescription" class="form-label">Descripción</label>
                            <textarea type="text" class="form-control" name="inputDescription"
                                [(ngModel)]="testEdit.description" required rows=3></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="inputTime" class="form-label">Tiempo disponible (minutos)</label>
                            <input type="number" class="form-control" name="inputTime" [(ngModel)]="testEdit.maxMinutes"
                                required min=0 />
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                [checked]="testEdit.accesoPublico"
                                (change)="testEdit.accesoPublico = !testEdit.accesoPublico">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Acceso público a
                                realización</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckLectura"
                                [checked]="testEdit.accesoPublicoNoPublicado"
                                (change)="testEdit.accesoPublicoNoPublicado = !testEdit.accesoPublicoNoPublicado">
                            <label class="form-check-label" for="flexSwitchCheckLectura">Visionado público para
                                profesores</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckAutoCorrect"
                                [checked]="testEdit.autoCorrect"
                                (change)="testEdit.autoCorrect = !testEdit.autoCorrect">
                            <label class="form-check-label" for="flexSwitchCheckAutoCorrect">Publicación automática de
                                corrección de respuestas</label>
                        </div>
                        <div>
                            <label class="form-label" for="selectVisibilidadLabel">Visibilidad de la respuesta</label>
                            <select class="form-select" name="visibilidad" [(ngModel)]="testEdit.visibilidad">
                                <option [value]="getValueManual()">{{printManual()}}</option>
                                <option [value]="getValueCorregir()">{{printCorregir()}}</option>
                                <option [value]="getValueEntregar()">{{printEntregar()}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Guardar" data-bs-dismiss="modal" class="btn btn-primary"
                            (click)='putTestSubmit()' id="buttonSubmitTest" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Buscador preguntas-->
    <div class="modal fade" id="modalSearchQuestion" tabindex="-1" aria-labelledby="modalSearchQuestionLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSearchQuestionLabel">Buscador de preguntas para añadir</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message"
                        role="alert">
                        {{getMensaje().texto}}</div>
                    <p>Pulsa la pregunta que quieras añadir</p>
                    <app-lq-add-question-test (onQuestionPicked)="questionPicked($event)"></app-lq-add-question-test>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmacion clonar-->
    <div class="modal fade" id="modalCloneTest" tabindex="-1" aria-labelledby="modalCloneTestLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCloneTestLabel">¿Clonar Test?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Se creará un test nuevo, clonando también las preguntas
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="cloneTestClick()">Clonar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Confirmacion publicar-->
    <div class="modal fade" id="modalPublishTest" tabindex="-1" aria-labelledby="modalPublishTestLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ngNativeValidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalPublishTestLabel">¿Publicar Test?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message"
                            role="alert">
                            {{getMensaje().texto}}</div>
                        <p>Se creará una copia publicada del test</p>
                        <div class="mb-3">
                            <label for="inputTitle" class="form-label">Título del test</label>
                            <input type="text" class="form-control" name="inputTitle" [(ngModel)]="publishedTitle"
                                required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal"
                            (click)="publishTestClick()">Publicar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>