<app-nav-bar></app-nav-bar>
<div class="mt-5">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <h4>Pregunta #{{question.id}}</h4>
    <h2>{{question.title}}</h2>
    <p>Autor: <a [routerLink]="['/profile', question.username]">{{question.username}}</a></p>
    <hr />
    <p>{{question.question}}</p>
    <p>Tiempo estimado: {{question.estimatedTime}} segundos</p>
    <p>Corrección automática: <span *ngIf="question.autoCorrect">Sí</span><span *ngElse>No</span></p>
    <p>Tipo: {{tipoPrint}}</p>
    <button *ngIf="checkPermisosEdicion()" type="button" class="btn btn-primary">Editar pregunta</button>

    <div class="m-3" *ngIf="question.tipoPregunta=='string'">
        <p>Respuesta esperada: {{question.solucion}}</p>
        <button *ngIf="checkPermisosEdicion()" type="button" class="btn btn-primary">Editar respuesta esperada</button>
    </div>
    <div class="m-3" *ngIf="question.tipoPregunta=='opciones'">
        <p>Opciones:</p>
        <div *ngFor="let opc of opciones">
            <div class="form-check form-switch my-4">
                <div>
                    {{opc.texto}}
                    <button *ngIf="checkPermisosEdicion()" type="button" (click)="deleteOpc(opc.indice)" class="btn btn-danger mx-3">Eliminar</button>
                </div>
                <div class="">
                    <input *ngIf="checkPermisosEdicion()" class="form-check-input" type="checkbox"
                        id="flexSwitchCheckDefault" [checked]="opc.correcta" (change)="changeCorrectaOpc(opc)">
                    <input *ngIf="!checkPermisosEdicion()" disabled class="form-check-input" type="checkbox"
                        id="flexSwitchCheckDefault" [checked]="opc.correcta">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Respuesta correcta</label>
                </div>
            </div>
        </div>
        <form (ngSubmit)='addOptionSubmit()' ngNativeValidate>
            <div *ngIf="checkPermisosEdicion()" class="input-group my-3">
                <input class="button btn btn-primary" type="submit" value="Añadir opción" />
                <input type="text" class="form-control" name="inputAddOption" [(ngModel)]="nuevaOpcion.texto"
                    placeholder="Nueva opción" required pattern=".+" />
            </div>
        </form>
    </div>
    <div class="m-3" *ngIf="question.tipoPregunta=='codigo'">
        <p>Tests:</p>
    </div>
</div>