<div class="mt-5">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <button *ngIf="testid!=undefined" class="button btn btn-outline-primary m-3" [routerLink]="['/pt', testid]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
        Volver al test
    </button>
    <div class="card">
        <div class="card-body">
            <h4>Pregunta #{{question.id}}</h4>
            <h2>{{question.title}}</h2>
            <p>Autor: <a [routerLink]="['/profile', question.username]">{{question.username}}</a></p>
            <div *ngIf="checkCloneQuestion()">
                <p><button type="button" class="btn btn-outline-primary" (click)="cloneQuestionClick()">Clonar</button>
                </p>
                <p>
                    <input type="checkbox" class="btn-check" id="btn-check-2" [checked]="isFavorita"
                        (click)="changeFavorita()">
                    <label class="btn btn-outline-success" for="btn-check-2"><span *ngIf="!isFavorita">Guardar
                            Favorita</span><span *ngIf="isFavorita">Guardada Favorita</span></label>
                </p>
            </div>
            <p>Etiquetas:
                <span *ngFor="let tag of tags">
                    <span *ngIf="checkPermisosEdicion()">
                        <span class="badge bg-warning" role="button" id="{{tag.tag}}" data-bs-toggle="dropdown"
                            aria-expanded="false">{{tag.tag}}</span>;
                        <ul class="dropdown-menu" attr.aria-labelledby="{{tag.tag}}">
                            <li><a class="dropdown-item" role="button" (click)="deleteTagClick(tag.tag)">Eliminar</a>
                            </li>
                        </ul>
                    </span>

                    <span *ngIf="!checkPermisosEdicion()">
                        <span class="badge bg-warning">{{tag.tag}}</span>;
                    </span>
                </span>
            </p>
            <form *ngIf="checkPermisosEdicion()" (ngSubmit)='addTagSubmit()' ngNativeValidate>
                <div class="input-group my-3">
                    <input class="button btn btn-primary" type="submit" value="Añadir etiqueta" />
                    <input type="text" class="form-control" name="inputAddTag" [(ngModel)]="newTag.tag"
                        placeholder="Etiqueta" required pattern=".+" />
                </div>
            </form>
            <p>Tiempo estimado: {{question.estimatedTime}} minutos</p>
            <p>Corrección automática: <span *ngIf="question.autoCorrect">Sí</span><span
                    *ngIf="!question.autoCorrect">No</span></p>
            <p>Acceso público para profesores: <span *ngIf="question.accesoPublicoNoPublicada">Sí</span><span
                    *ngIf="!question.accesoPublicoNoPublicada">No</span></p>
            <p>Penalización por fallo:
                <span *ngIf="question.penalizacion!=0">{{question.penalizacion}} %</span>
                <span *ngIf="question.penalizacion==0">No</span>
            </p>

            <p>Tipo: {{tipoPrint}}</p>
            <p><button class="btn btn-primary" type="button" [routerLink]="['/q', question.id, 'teams']">Ver equipos
                    administradores</button></p>
            <p *ngIf="!question.editable"><button class="btn btn-primary" type="button"
                    [routerLink]="['/pt', testid, 'q', question.id, 'qanswers']">Ver respuestas entregadas</button></p>
            <p><button *ngIf="checkPermisosEdicion()" type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editQuestionModal">Editar pregunta</button></p>
            <hr />
            <p><span style="white-space: pre-line">{{question.question}}</span></p>
        </div>
    </div>
    <div class="my-3">
        <h3>Solución:</h3>
        <div class="m-3" *ngIf="question.tipoPregunta=='string'">
            <p>Respuesta esperada:</p>
            <p>{{question.solucion}}</p>
            <form class="my-4" (ngSubmit)='putQuestionSubmit()' ngNativeValidate>
                <div *ngIf="checkPermisosEdicion()">
                    <h5>Modificar respuesta esperada:</h5>
                    <div class="input-group my-3">
                        <input type="text" class="form-control" name="inputAddOption"
                            [(ngModel)]="questionEdit.solucion" required pattern=".+" />
                    </div>
                    <input class="button btn btn-primary" type="submit"
                        value="Guardar modificación de respuesta esperada" />
                </div>
            </form>
        </div>
        <div class="m-3" *ngIf="question.tipoPregunta=='opciones'">
            <p>Opciones:</p>
            <form (ngSubmit)='addOptionSubmit()' ngNativeValidate>
                <div *ngIf="checkPermisosEdicion()" class="input-group my-3">
                    <input class="button btn btn-primary" type="submit" value="Añadir opción" />
                    <input type="text" class="form-control" name="inputAddOption" [(ngModel)]="nuevaOpcion.texto"
                        placeholder="Nueva opción" required pattern=".+" />
                </div>
            </form>
            <div *ngFor="let opc of opciones">
                <div class="my-4 card">
                    <div class="card-body">
                        <div class="my-1">{{opc.texto}}</div>
                        <div class="form-check form-switch my-1">
                            <div class="row">
                                <div class="col-sm">
                                    <input *ngIf="checkPermisosEdicion()" class="form-check-input" type="checkbox"
                                        id="flexSwitchCheck{{opc.indice}}" role="button" [checked]="opc.correcta"
                                        (change)="changeCorrectaOpc(opc)">
                                    <input *ngIf="!checkPermisosEdicion()" disabled class="form-check-input"
                                        type="checkbox" id="flexSwitchCheck{{opc.indice}}" [checked]="opc.correcta">
                                    <label class="form-check-label" role="button"
                                        for="flexSwitchCheck{{opc.indice}}">Respuesta
                                        correcta</label>
                                </div>
                                <div class="col-sm">
                                    <div class="btn-group dropstart d-grid gap-2 d-md-flex d-inline-flex justify-content-md-end col-sm"
                                        role="button" *ngIf="checkPermisosEdicion()">
                                        <a data-bs-toggle="dropdown" class="link-dark" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                            </svg>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" (click)="deleteOpc(opc.indice)">Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-3" *ngIf="question.tipoPregunta=='codigo'">
            <p>Tests:</p>
        </div>
    </div>
</div>
<!-- Modal edit question-->
<div class="modal fade" id="editQuestionModal" *ngIf="checkPermisosEdicion()" tabindex="-1"
    aria-labelledby="editQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ngNativeValidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="editQuestionModalLabel">Modificar Pregunta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputTitle" class="form-label">Título de la pregunta</label>
                        <input type="text" class="form-control" name="inputTitle" [(ngModel)]="questionEdit.title"
                            required />
                    </div>
                    <div class="mb-3">
                        <label for="inputQuestion" class="form-label">Cuerpo de la pregunta</label>
                        <textarea type="text" class="form-control" name="inputQuestion"
                            [(ngModel)]="questionEdit.question" required rows=3></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="inputTime" class="form-label">Tiempo estimado (minutos)</label>
                        <input type="number" class="form-control" name="inputTime"
                            [(ngModel)]="questionEdit.estimatedTime" required min=0 />
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                            [checked]="questionEdit.autoCorrect"
                            (change)="questionEdit.autoCorrect = !questionEdit.autoCorrect">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Corrección automática</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchAccesoPublicoNoPublicada"
                            [checked]="questionEdit.accesoPublicoNoPublicada"
                            (change)="questionEdit.accesoPublicoNoPublicada = !questionEdit.accesoPublicoNoPublicada">
                        <label class="form-check-label" for="flexSwitchAccesoPublicoNoPublicada">Acceso público para
                            profesores</label>
                    </div>
                    <div class="mb-3">
                        <label for="inputPenalizacion" class="form-label">Penalización (%)</label>
                        <input type="number" class="form-control" name="inputPenalizacion"
                            [(ngModel)]="questionEdit.penalizacion" required min=0 max=100 />
                    </div>
                    <div class="my-3">
                        <label class="form-label">Tipo de pregunta:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputTipo" id="inputTipoString" required
                                (change)="onSelectTipoString()"
                                [checked]="tipPrint(questionEdit.tipoPregunta, questionEdit.eleccionUnica)=='Texto'" />
                            <label class="form-check-label" for="inputTipoString">
                                Pregunta de texto
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputTipo" id="inputTipoRadio" required
                                (change)="onSelectTipoRadio()"
                                [checked]="tipPrint(questionEdit.tipoPregunta, questionEdit.eleccionUnica)=='Respuesta única'" />
                            <label class="form-check-label" for="inputTipoRadio">
                                Pregunta tipo test de respuesta única
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputTipo" id="inputTipoCheck" required
                                (change)="onSelectTipoCheck()"
                                [checked]="tipPrint(questionEdit.tipoPregunta, questionEdit.eleccionUnica)=='Respuesta múltiple'" />
                            <label class="form-check-label" for="inputTipoCheck">
                                Pregunta tipo test de respuesta múltiple
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="inputTipo" id="inputTipoCode" required
                                (change)="onSelectTipoCode()"
                                [checked]="tipPrint(questionEdit.tipoPregunta, questionEdit.eleccionUnica)=='Código'" />
                            <label class="form-check-label" for="inputTipoCode">
                                Pregunta de código
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Guardar" (click)='putQuestionSubmit()' data-bs-dismiss="modal"
                        class="btn btn-primary" id="buttonChangeRol" />
                </div>
            </form>
        </div>
    </div>
</div>