<div class="alert alert-{{mensaje.type}}" *ngIf="mensaje.mostrar">{{mensaje.texto}}</div>
<form (ngSubmit)='loginSubmit()' ngNativeValidate>
    <div class="form-group">
        <label for="inputNif">Nick o Correo</label>
        <input type="text" class="form-control" name="inputUsername" aria-describedby="usernameHelp" [(ngModel)]="loginUser.loginid" required/>
        <small id="usernameHelp" class="form-text text-muted">El nick o correo asociado a tu cuenta</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="inputPassword" [(ngModel)]="loginUser.pass" required/>
    </div>
    <input type="submit" value="Acceder" class="btn btn-primary btn-lg btn-block"/>
</form>