<div class="my-2">
    <p>Etiquetas filtradas:
        <span *ngFor="let tags of searchTags">
            <span *ngFor="let tag of tags">
                <span class="bg-warning" role="button" id="{{tag}}" data-bs-toggle="dropdown"
                    aria-expanded="false">{{tag}}</span>;
                <ul class="dropdown-menu" attr.aria-labelledby="{{tag}}">
                    <li><a class="dropdown-item" role="button" (click)="deleteSearchTagClick(tag)">Eliminar</a>
                    </li>
                </ul>
            </span>
        </span>
    </p>
    <form *ngIf="searchTags.length>0">
        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" [checked]="orOperation" (click)="swapOrAndTags()">
        <label class="btn btn-outline-secondary" for="option1">Alguna de las etiquetas</label>

        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" [checked]="!orOperation" (click)="swapOrAndTags()">
        <label class="btn btn-outline-secondary mx-2" for="option2">Todas las etiquetas</label>
    </form>
    <form (ngSubmit)='addSearchTagSubmit()' ngNativeValidate>
        <div class="input-group my-3">
            <input class="button btn btn-primary" type="submit" value="Añadir etiqueta" />
            <input type="text" class="form-control" name="inputAddTag" [(ngModel)]="newSearchTag" placeholder="Etiqueta"
                required pattern=".+" />
        </div>
    </form>
    <form (ngSubmit)='clickSearchTitle()' ngNativeValidate>
        <div class="input-group my-3">
            <input class="button btn btn-primary" type="submit" value="Buscar por título" />
            <input type="text" class="form-control" name="inputSearchTitle" [(ngModel)]="editLikeTitle" placeholder="Título"
                required pattern=".+" />
        </div>
        <div *ngIf="likeTitle!=undefined">
            <button type="button" class="btn btn-secondary" (click)="clickBorrarTitle()">Borrar filtro de título</button>
        </div>
    </form>
    <div class="form-check form-switch my-2" *ngIf="!hideSwitchInclude">
        <input class="form-check-input" type="checkbox" id="flexSwitchIncludeNonEdit" [checked]="includeNonEdit"
            (change)="changeFlexInclude()">
        <label class="form-check-label" for="flexSwitchIncludeNonEdit">Incluir tests publicados</label>
    </div>
    <table class="table table-striped table-hover table-primary my-3">
        <thead>
            <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Tiempo Disponible</th>
            </tr>
        </thead>
        <tbody *ngFor="let test of tests">
            <tr role="button" [routerLink]="['/et', test.id]">
                <td>{{test.title}}</td>
                <td>{{test.username}}</td>
                <td>{{test.maxSeconds}} segundos</td>
            </tr>
        </tbody>
    </table>
</div>