<div class="container my-5">
    <form (ngSubmit)='recoverPassSubmit()' ngNativeValidate>
        <p>Introduce la nueva contraseña para {{username}}</p>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" name="inputPassword" aria-describedby="passwordHelp"
                [(ngModel)]="pass" required minlength="6" />
            <div id="passwordHelp" class="form-text text-muted">Introduce una contraseña, mínimo 6 caracteres.</div>
        </div>
        <div class="d-grid gap-2">
            <input type="submit" value="Actualizar contraseña" class="btn btn-primary btn-lg" id="buttonSubmitRecover" />
        </div>
    </form>
</div>