<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container text-center">
    <a class="navbar-brand" href="/">
      <h2 class="m-0"><b>DevTest</b></h2>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 container">
        <li class="col-sm dropdown nav-item">
          <a class="nav-link dropdown-toggle fw-bold" href="#" id="testsMenuUserLink" data-bs-toggle="dropdown"
            aria-expanded="false">TESTS</a>
          <ul class="dropdown-menu" aria-labelledby="testsMenuUserLink" *ngIf="getSessionUser().isStudent()">
            <li><a class="dropdown-item" [routerLink]="['/ptests']">Explorar Tests Públicos</a></li>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'invited']">Tests con
                Invitación</a></li>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'solvable']">Tests
                Disponibles</a></li>
          </ul>
          <ul class="col dropdown-menu" aria-labelledby="testsMenuUserLink" *ngIf="!getSessionUser().isStudent()">
            <li><a class="dropdown-item" [routerLink]="['/et']">Explorar Tests</a></li>
            <li><a class="dropdown-item" [routerLink]="['/etCreate']">Crear Test</a></li>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'et' ]">Mis Tests</a></li>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'set' ]">Compartiendo
                conmigo</a>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'fet' ]">Mis favoritos</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>

            <li class="dropdown-submenu dropend">
              <a class="dropdown-item" [routerLink]="['/ptests']">Tests Publicados</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/ptests']">Explorar Tests Publicados</a></li>
                <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'pt']">Mis Tests
                    Publicados</a>
                </li>
                <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'spt']">Compartidos
                    conmigo</a></li>
              </ul>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li class="dropdown-submenu dropend">
              <a class="dropdown-item" [routerLink]="['/ptests']">Responder Tests Publicados</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/ptests']">Tests Públicos</a></li>
                <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'invited']">Tests Con
                    Invitación</a></li>
                <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'solvable']">Tests
                    Disponibles</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="col-sm nav-item dropdown" *ngIf="!getSessionUser().isStudent()">
          <a class="nav-link dropdown-toggle fw-bold" href="#" id="questionsMenuLink" data-bs-toggle="dropdown" role="button"
            aria-expanded="false">PREGUNTAS</a>
          <ul class="dropdown-menu" aria-labelledby="questionsMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/q']">Explorar Preguntas</a></li>
            <li><a class="dropdown-item" [routerLink]="['/qCreate']">Crear Pregunta</a></li>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'q' ]">Mis Preguntas</a>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'sq' ]">Compartiendo
                conmigo</a>
            </li>
            <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'fq' ]">Mis favoritas</a>
            </li>
          </ul>
        </li>
        <li class="col-sm nav-item">
          <a [routerLink]="['/teams']" class="nav-link fw-bold">EQUIPOS</a>
        </li>
        <li class="col-sm nav-item" *ngIf="getSessionUser().isAdmin()">
          <a [routerLink]="['/admin']" class="nav-link fw-bold">ADMINISTRACIÓN</a>
        </li>
        <li class="col-sm nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{getSessionUser().getUsername()}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="['/profile', getSessionUser().getUsername()]">Ver perfil</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>