<div class="my-2">
    <form *ngIf="buscarUsuario" (ngSubmit)='clickSearchUsername()' ngNativeValidate>
        <div class="input-group my-3">
            <input class="button btn btn-primary" type="submit" value="Buscar por nombre de usuario" />
            <input type="text" class="form-control" name="inputSearchUsername" [(ngModel)]="editLikeUsername"
                placeholder="Username" required pattern="[^@]+" />
        </div>
        <div *ngIf="likeUsername!=undefined">
            <button type="button" class="btn btn-secondary" (click)="clickBorrarUsername()">Borrar filtro de nombre de
                usuario</button>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-primary mt-3 mb-0">
            <thead>
                <tr>
                    <th>Autor</th>
                    <th>Entregado</th>
                    <th>Hora de inicio</th>
                    <th>Hora de entrega</th>
                    <th>Puntuación</th>
                    <th *ngIf="modoUsuario()">Visible</th>
                </tr>
            </thead>
            <tbody *ngFor="let ans of answers">
                <tr *ngIf="!modoUsuario()" role="button" [routerLink]="['/pt', testid, 'answers', ans.id]">
                    <td>{{ans.username || ""}}</td>
                    <td><span *ngIf="ans.entregado">Sí</span><span *ngIf="!ans.entregado">No</span></td>
                    <td>{{printDate(ans.startTime)}}</td>
                    <td><span *ngIf="ans.entregado">{{printDate(ans.finishTime)}}</span></td>
                    <td>{{ans.puntuacion || "--"}}</td>
                    <td *ngIf="modoUsuario()"><span *ngIf="ans.visibleParaUsuario">Sí</span><span
                            *ngIf="!ans.visibleParaUsuario">No</span></td>
                </tr>
                <tr *ngIf="modoUsuario() && ans.visibleParaUsuario" role="button"
                    [routerLink]="['/pt', testid, 'answers', ans.id]">
                    <td>{{ans.username || ""}}</td>
                    <td><span *ngIf="ans.entregado">Sí</span><span *ngIf="!ans.entregado">No</span></td>
                    <td>{{printDate(ans.startTime)}}</td>
                    <td><span *ngIf="ans.entregado">{{printDate(ans.finishTime)}}</span></td>
                    <td>{{ans.puntuacion || "--"}}</td>
                    <td *ngIf="modoUsuario()"><span *ngIf="ans.visibleParaUsuario">Sí</span><span
                            *ngIf="!ans.visibleParaUsuario">No</span></td>
                </tr>
                <tr *ngIf="modoUsuario() && !ans.visibleParaUsuario">
                    <td>{{ans.username || ""}}</td>
                    <td><span *ngIf="ans.entregado">Sí</span><span *ngIf="!ans.entregado">No</span></td>
                    <td>{{printDate(ans.startTime)}}</td>
                    <td><span *ngIf="ans.entregado">{{printDate(ans.finishTime)}}</span></td>
                    <td>{{ans.puntuacion || "--"}}</td>
                    <td *ngIf="modoUsuario()"><span *ngIf="ans.visibleParaUsuario">Sí</span><span
                            *ngIf="!ans.visibleParaUsuario">No</span></td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="answers.length==0" class="bg-white bg-gradient fw-bold text-center p-5">{{mensajeListaVacia}}</div>
        <br />
    </div>
</div>