<app-nav-bar></app-nav-bar>
<div class="mt-5">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <button *ngIf="isModoTestAdmin()" class="button btn btn-outline-primary m-3"
        [routerLink]="['/et', test.originalTestID]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
        Volver al test original
    </button>
    <div class="my-3">
        <h4>Test</h4>
        <h2>{{test.title}}</h2>
        <p>Autor: <a [routerLink]="['/profile', test.username]">{{test.username}}</a></p>
        <p>Etiquetas:
            <span *ngFor="let tag of tags">
                <span class="badge bg-warning">{{tag.tag}}</span>;
            </span>
        </p>
        <p><b>Descripción:</b>
        <p>
        <div class="mb-4">
            <span style="white-space: pre-line">{{test.description}}</span>
        </div>
        <p><b>Tiempo disponible:</b> {{test.maxMinutes}} minutos</p>
        <p><b>Nota máxima: </b> {{test.notaMaxima}}</p>
        <p><b>Acceso público a realización: </b> <span *ngIf="test.accesoPublico">Sí</span><span
                *ngIf="!test.accesoPublico">No</span>
        <p><b>Visionado público para profesores: </b> <span *ngIf="test.accesoPublicoNoPublicado">Sí</span><span
                *ngIf="!test.accesoPublicoNoPublicado">No</span>
        </p>
        <p><b>Publicación automática de corrección de respuestas: </b> <span *ngIf="test.autoCorrect">Sí</span><span
                *ngIf="!test.autoCorrect">No</span></p>
        <p>Llevas {{test.cantidadRespuestasDelUsuario}} intentos.</p>
        <div *ngIf="isRespuestaIniciada">
            <p><button class="btn btn-success btn-lg" type="button" [routerLink]="['/pt', id, 'answering']">Continuar
                    Respuesta</button></p>
        </div>
        <div *ngIf="!isRespuestaIniciada">
            <p><button class="btn btn-success btn-lg" type="button" data-bs-toggle="modal"
                    data-bs-target="#startAnswerModal">Iniciar Respuesta</button></p>
            <!-- Modal iniciar respuesta -->
            <div class="modal fade" id="startAnswerModal" tabindex="-1" aria-labelledby="startAnswerModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="startAnswerModalLabel">Iniciar respuesta</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Seguro que quieres iniciar la respuesta al test?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="startAnswerClick()">Iniciar Respuesta</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p><button class="btn btn-primary" type="button" [routerLink]="['/pt', test.id, 'myanswers']">Ver mis
                    respuestas</button></p>
        </div>
        <div *ngIf="isModoTestAdmin()">
            <p><button class="btn btn-primary" type="button" [routerLink]="['/et', test.id, 'teams']">Ver equipos
                    administradores</button></p>
            <p><button class="btn btn-primary" type="button" [routerLink]="['/pt', test.id, 'invite']">Ver equipos y
                    usuarios
                    invitados</button></p>
            <p><button class="btn btn-primary" type="button" [routerLink]="['/pt', test.id, 'answers']">Ver
                    respuestas</button></p>
            <hr />
            <h4>Preguntas:</h4>
            <table class="table table-striped table-hover table-primary my-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Tiempo Estimado</th>
                        <th>Tipo</th>
                        <th>Valor en test</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pregunta of preguntas" role="button"
                        [routerLink]="['/pt', test.id, 'q', pregunta.id ]">
                        <td>{{pregunta.id}}</td>
                        <td>{{pregunta.title}}</td>
                        <td>{{pregunta.username}}</td>
                        <td>{{pregunta.estimatedTime}} minutos</td>
                        <td>{{tipoPrint(pregunta.tipoPregunta,
                            pregunta.eleccionUnica)}}</td>
                        <td>{{pregunta.valorFinal}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>