<div class="my-2">
    <div *ngIf="isSearchActive()">
        <form class="my-3" (ngSubmit)='clickSearchUsername()' ngNativeValidate>
            <div class="input-group my-3">
                <button class="button btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                    Nombre de Usuario
                </button>
                <input type="text" class="form-control" name="inputSearchUsername" [(ngModel)]="editLikeUsername"
                    placeholder="Nombre de Usuario" required pattern=".+" />

                <button *ngIf="likeUsername!=undefined" type="button" class="btn btn-danger"
                    (click)="clickBorrarUsername()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                    </svg>
                </button>
            </div>
        </form>
        <form class="my-3" (ngSubmit)='clickSearchEmail()' ngNativeValidate>
            <div class="input-group my-3">
                <button class="button btn btn-primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                    Correo electrónico
                </button>
                <input type="text" class="form-control" name="inputSearchEmail" [(ngModel)]="editLikeEmail"
                    placeholder="Correo electrónico" required pattern=".+" />
                <button *ngIf="likeEmail!=undefined" type="button" class="btn btn-danger" (click)="clickBorrarEmail()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="currentColor">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                    </svg>
                </button>
            </div>
        </form>
    </div>
    <div class="table-responsive mt-3">
        <button type="button" class="btn btn-primary mb-1" *ngIf="!isSearchActive()" (click)="activateSearch()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
            </svg>
        </button>
        <table class="table table-striped table-hover table-primary mb-0">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Correo electrónico</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" role="button" [routerLink]="['/profile', user.username]">
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.rol}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="users.length==0" class="bg-white bg-gradient fw-bold text-center p-5">{{mensajeListaVacia}}</div>
        <br />
    </div>
</div>