<div style="text-align:center" class="container my-5">
    <h2 class="my-4 fw-bold">Panel de administración</h2>
    <p><button class="button btn btn-primary btn-lg" [routerLink]="['/admin/users']">Administrar Usuarios</button></p>
    <p><button class="button btn btn-primary btn-lg" [routerLink]="['/admin/teams']">Administrar Equipos</button></p>
    <p><button class="button btn btn-primary btn-lg" [routerLink]="['/admin/email']">Administrar Correo Electrónico</button></p>
    <p><button class="button btn btn-primary btn-lg" [routerLink]="['/admin/permissions']">Administrar Permisos y Roles</button></p>
</div>