<div class="container my-5">
    <div *ngIf="canVerPTests()" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button [routerLink]="['/']" fragment="ptests" class="button btn btn-primary">IR A TESTS &darr;</button>
    </div>
    <markdown class="text-sm-center d-block" [data]="vistaPers.mensajeInicio"></markdown>
    <div id="ptests" *ngIf="canVerPTests()">
        <hr />
        <h2 class="text-center fw-bold">Tests Públicos</h2>
        <app-list-ptests></app-list-ptests>
    </div>
</div>