<div class="container my-5">
    <form (ngSubmit)='signinSubmit()' ngNativeValidate>
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" name="inputUsername" aria-describedby="usernameHelp"
                [(ngModel)]="signinUser.username" required pattern="[^@]+" />
            <div id="usernameHelp" class="form-text text-muted">Introduce tu nombre de usuario. No puedes introducir el
                caracter '@'.</div>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" name="inputEmail" aria-describedby="emailHelp"
                [(ngModel)]="signinUser.email" required />
            <div id="emailHelp" class="form-text text-muted">Introduce tu correo electronico</div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="inputPassword" aria-describedby="passwordHelp"
                [(ngModel)]="signinUser.pass" required minlength="6" />
            <div id="passwordHelp" class="form-text text-muted">Introduce una contraseña, mínimo 6 caracteres.</div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" name="inputPasswordR" aria-describedby="passwordRHelp"
                [(ngModel)]="reppass" required minlength="6" />
            <div id="passwordHelp" class="form-text text-muted">Repite la contraseña.</div>
        </div>
        <div class="alert alert-{{mensaje.type}}" *ngIf="mensaje.mostrar" id="message" role="alert">{{mensaje.texto}}</div>
        <div class="d-grid gap-2">
            <input type="submit" value="Registrarse" class="btn btn-primary btn-lg" id="buttonSubmitSignin" />
        </div>
    </form>
</div>