<app-nav-bar></app-nav-bar>
<h2>Creación de equipo</h2>
<form (ngSubmit)='teamSubmit()' ngNativeValidate>
    <div class="mb-3">
        <label for="inputTeamname" class="form-label">Nombre del equipo</label>
        <input type="text" class="form-control" name="inputTeamname" aria-describedby="teamnameHelp" [(ngModel)]="team.teamname" required/>
        <div id="teamnameHelp" class="form-text text-muted">El nombre único del équipo</div>
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Descripción</label>
        <input type="text" class="form-control" name="inputDescription" aria-describedby="descriptionHelp" [(ngModel)]="team.description"/>
        <div id="descriptionHelp" class="form-text text-muted">Información detallada del equipo (opcional)</div>
    </div>
    <div class="d-grid gap-2">
        <input type="submit" value="Enviar" class="btn btn-primary" id="buttonSendTeam"/>
    </div>
</form>