<div *ngFor="let qa of questionAnswers" class="card my-3">
    <div class="card-body" role="button"
        [routerLink]="['/pt', testid, 'answers', qa.idRespuesta, 'qanswers', qa.idPregunta]">
        <h5 class="card-title">{{getPregunta(qa.idPregunta).title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Tipo: {{tipoPrint(getPregunta(qa.idPregunta).tipoPregunta,
            getPregunta(qa.idPregunta).eleccionUnica)}}
            <h6 class="card-subtitle mb-2 text-muted">Puntuación:
                <span class="badge {{bgcolorQAnswerPuntuacion(qa.puntuacion)}}">
                    {{calcValor(qa.puntuacion,
                    getPregunta(qa.idPregunta).valorFinal)}}/{{getPregunta(qa.idPregunta).valorFinal}}
                </span>
            </h6>
        </h6>
        <p *ngIf="mostrarAutor">Autor: <a class="link-dark" [routerLink]="['/profile', qa.username]">{{qa.username}}</a>
        </p>
        <p class="card-text"><span class="badge bg-danger" *ngIf="!(qa.corregida || false)">No
                corregida</span> <span class="badge bg-success" *ngIf="(qa.corregida || false)">Corregida</span></p>
    </div>
</div>
<div *ngIf="questionAnswers.length==0" class="bg-white bg-gradient fw-bold text-center p-5">{{mensajeListaVacia}}</div>
<br />