<div class="my-3">
    <form class="my-3" (ngSubmit)='clickSearchUsername()' *ngIf="canSearchUsername() && isSearchActive()"
        ngNativeValidate>
        <div class="input-group my-3">
            <button class="button btn btn-primary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                    fill="currentColor">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                </svg>
                Nombre de Usuario
            </button>
            <input type="text" class="form-control" name="inputSearchUsername" [(ngModel)]="editLikeUsername"
                placeholder="Nombre de Usuario" required pattern=".+" />
            <button *ngIf="likeUsername!=undefined" type="button" class="btn btn-danger"
                (click)="clickBorrarUsername()">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                    fill="currentColor">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
                </svg>
            </button>
        </div>
    </form>
    <button type="button" class="btn btn-primary mb-1" *ngIf="canSearchUsername() && !isSearchActive()"
        (click)="activateSearch()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
                d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
        </svg>
    </button>
    <div *ngFor="let qa of questionAnswers" class="card " role="button"
        [routerLink]="['/pt', testid, 'answers', qa.idRespuesta, 'qanswers', qa.idPregunta]">
        <div class="card-body">
            <h5 class="card-title">{{getPregunta(qa.idPregunta).title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Tipo: {{tipoPrint(getPregunta(qa.idPregunta).tipoPregunta,
                getPregunta(qa.idPregunta).eleccionUnica)}}
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">Puntuación:
                <span class="badge {{bgcolorQAnswerPuntuacion(qa.puntuacion)}}">
                    {{calcValor(qa.puntuacion,
                    getPregunta(qa.idPregunta).valorFinal)}}/{{getPregunta(qa.idPregunta).valorFinal}}
                </span>
            </h6>
            <p *ngIf="mostrarAutor">Autor: <a class="link-dark"
                    [routerLink]="['/profile', qa.username]">{{qa.username}}</a>
            </p>
            <p class="card-text"><span class="badge bg-danger" *ngIf="!(qa.corregida || false)">No
                    corregida</span> <span class="badge bg-success" *ngIf="(qa.corregida || false)">Corregida</span></p>
        </div>
    </div>
</div>
<div *ngIf="questionAnswers.length==0" class="bg-white bg-gradient fw-bold text-center p-5">{{mensajeListaVacia}}</div>
<br />