<div class="mt-5">
    <div class="alert alert-{{getMensaje().type}}" *ngIf="getMensaje().mostrar" id="message" role="alert">
        {{getMensaje().texto}}</div>
    <button class="button btn btn-outline-primary m-3" [routerLink]="['/pt', test.id]">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-double-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd"
                d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
        Volver
    </button>
    <div *ngIf="checkPermisosAdministracion()">
        <form (ngSubmit)='inviteTeamSubmit()' ngNativeValidate>
            <div class="my-3">
                <div class="input-group">
                    <input class="button btn btn-primary" type="submit" value="Añadir equipo" />
                    <input type="text" class="form-control" name="inputAddTeam" aria-describedby="inputAddTeamHelp"
                        [(ngModel)]="addTeamTeamname" placeholder="Nombre de equipo" required pattern="[^@]+"
                        autocomplete="off" list="auto_teams" required (ngModelChange)="changeGetAutoTeams()" />
                    <datalist id="auto_teams">
                        <option *ngFor="let autoteam of autoteams" value="{{autoteam.teamname}}">
                    </datalist>
                </div>
                <div id="inputAddTeamHelp" class="form-text text-muted">Invita a los miembros de un equipo a realizar un
                    test</div>
            </div>
        </form>
        <form *ngIf="!createUser" (ngSubmit)='inviteUserSubmit()' ngNativeValidate>
            <div class="my-3">
                <div class="input-group">
                    <input class="button btn btn-primary" type="submit" value="Añadir usuario" />
                    <input type="text" class="form-control" name="inputAddUser" aria-describedby="inputAddUserHelp"
                        [(ngModel)]="addUserUsername" placeholder="Nombre de usuario" autocomplete="off" required
                        list="auto_users" (ngModelChange)="changeGetAutoUsers()" />
                    <datalist id="auto_users">
                        <option *ngFor="let autouser of autousers" value="{{autouser.username}}">
                    </datalist>
                </div>
                <div id="inputAddUserHelp" class="form-text text-muted">Invita a un usuario a realizar un test</div>
            </div>
            <p><a class="link-dark m-3" role="button" (click)="changeAddUser()">Crear cuenta de usuario por correo
                    electronico</a></p>
        </form>
        <form *ngIf="createUser" (ngSubmit)='createInviteUserSubmit()' ngNativeValidate>
            <div class="my-3">
                <div class="input-group">
                    <input class="button btn btn-primary" type="submit" value="Crear y Añadir usuario" />
                    <input type="text" class="form-control" name="inputAddUser" aria-describedby="inputAddUserHelp"
                        [(ngModel)]="addUserUsername" placeholder="Correo electrónico" required />
                </div>
                <div id="inputAddUserHelp" class="form-text text-muted">Crea una nueva cuenta e invitala a realizar un
                    test</div>
            </div>
            <p><a class="link-dark m-3" role="button" (click)="changeNotAddUser()">Añadir usuario existente</a></p>
        </form>
        <div class="form-check form-switch my-2">
            <input class="form-check-input" type="checkbox" id="flexSwitchSendEmail" [checked]="checkedSendEmail"
                (change)="changeFlexSendEmail()">
            <label class="form-check-label" for="flexSwitchSendEmail">Enviar notificación por correo</label>
        </div>
        <p *ngIf="!enviaMensaje && checkedSendEmail"><a class="link-dark mx-3" role="button"
                (click)="changeEnviaMensaje()">Enviar mensaje personalizado en la notificación</a></p>
        <p *ngIf="enviaMensaje && checkedSendEmail"><a class="link-dark mx-3" role="button"
                (click)="changeNoEnviaMensaje()">No enviar mensaje personalizado en la notificación</a></p>


        <div *ngIf="enviaMensaje" class="input-group my-3">
            <textarea class="form-control" name="inputAddQuestion" [(ngModel)]="customMessageNotification"
                placeholder="Mensaje personalizado"></textarea>
        </div>
    </div>
    <ul role="button" class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': isLookingTeams()}" (click)="lookForTeams()">Equipos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': isLookingUsers()}" (click)="lookForUsers()">Usuarios</a>
        </li>
    </ul>
    <div *ngIf="isLookingTeams()">
        <h2>Equipos invitados al test {{test.title}}</h2>
        <table class="table table-striped table-hover table-primary my-3">
            <thead>
                <tr>
                    <th>Nombre de equipo</th>
                    <th *ngIf="checkPermisosAdministracion()"></th>
                </tr>
            </thead>
            <tbody *ngFor="let team of teams">
                <tr>
                    <td role="button" [routerLink]="['/teams', team.teamname]">{{team.teamname}}</td>
                    <td *ngIf="checkPermisosAdministracion()"><button type="button" class="btn btn-danger"
                            (click)="uninviteTeamClick(team.teamname)"> Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="isLookingUsers()">
        <h2>Usuarios invitados al test {{test.title}}</h2>
        <table class="table table-striped table-hover table-primary my-3">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Email</th>
                    <th *ngIf="checkPermisosAdministracion()"></th>
                </tr>
            </thead>
            <tbody *ngFor="let iuser of iusers">
                <tr>
                    <td role="button" [routerLink]="['/profile', iuser.username]">{{iuser.username}}</td>
                    <td role="button" [routerLink]="['/profile', iuser.username]">{{iuser.email}}</td>
                    <td *ngIf="checkPermisosAdministracion()"><button type="button" class="btn btn-danger"
                            (click)="uninviteUserClick(iuser.username)"> Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>