<div class="mt-5">
    <h2>Crear Test Borrador</h2>
    <app-mensaje></app-mensaje>
    <form (ngSubmit)='testSubmit()' ngNativeValidate>
        <div class="mb-3">
            <label for="inputTitle" class="form-label">Título del test</label>
            <input type="text" class="form-control" name="inputTitle" [(ngModel)]="test.title" required />
        </div>
        <div class="mb-3">
            <label for="inputDescription" class="form-label">Descripción</label>
            <textarea type="text" class="form-control" name="inputDescription" [(ngModel)]="test.description" required
                rows=3></textarea>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="test.accesoPublico"
                (change)="test.accesoPublico = !test.accesoPublico">
            <label class="form-check-label" for="flexSwitchCheckDefault" aria-describedby="accesoPublicoHelp">Acceso
                público por usuarios una vez publicado</label>
            <div id="accesoPublicoHelp" class="form-text">
                El acceso público marca si al publicar el test, este podrá ser realizado por cualquier estudiante o sólo
                los invitados. Lo puedes editar más adelante.
            </div>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckAccesoPublicoNoPublicado" [checked]="test.accesoPublicoNoPublicado"
                (change)="test.accesoPublicoNoPublicado = !test.accesoPublicoNoPublicado">
            <label class="form-check-label" for="flexSwitchCheckAccesoPublicoNoPublicado"
                aria-describedby="accesoPublicoNoPublicadoHelp">Acceso
                público para los profesores</label>
            <div id="accesoPublicoNoPublicadoHelp" class="form-text">
                El acceso público marca si el test en edición puede ser visto por el resto de profesores del sistema
            </div>
        </div>

        <div class="d-grid gap-2">
            <input type="submit" value="Crear" class="btn btn-primary" id="buttonSendQuestion" />
        </div>
    </form>
</div>