<div class="mt-5">
    <h2 class="fw-bold text-center">Respuestas de <a class="link-dark" [routerLink]="['/profile', username]">{{username}}</a>:</h2>
    <ul role="button" class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': isLookingCorregidas()}"
                (click)="lookForCorregidas()">Corregidas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': isLookingNoCorregidas()}" (click)="lookForNoCorregidas()">No
                Corregidas</a>
        </li>
    </ul>
    <app-la-u-corrected *ngIf="isLookingCorregidas()"></app-la-u-corrected>
    <app-la-u-uncorrected *ngIf="isLookingNoCorregidas()"></app-la-u-uncorrected>
</div>