<div class="d-grid gap-2 my-4">
    <a class="btn btn-lg btn-primary button my-2" [routerLink]="['/u', getSessionUser().getUsername(), 'et' ]">MIS TESTS</a>
    <a class="btn btn-lg btn-primary button my-2" [routerLink]="['/u', getSessionUser().getUsername(), 'set' ]">COMPARTIENDO CONMIGO</a>
    <a class="btn btn-lg btn-primary button my-2" [routerLink]="['/et']">EXPLORAR TESTS</a>
    <hr/>
    <a class="btn btn-lg btn-primary button my-2" [routerLink]="['/u', getSessionUser().getUsername(), 'q' ]">MIS PREGUNTAS</a>
    <a class="btn btn-lg btn-primary button my-2" [routerLink]="['/u', getSessionUser().getUsername(), 'sq' ]">COMPARTIENDO CONMIGO</a>
    <a class="btn btn-lg btn-primary button my-2" [routerLink]="['/q']">EXPLORAR PREGUNTAS</a>
</div>