<div class="row m-3">
  <div class="col-sm d-grid gap-2">
    <a type="button" [routerLink]="['/']" class="btn btn-primary">Inicio</a>
  </div>
  <div class="col-sm d-grid gap-2">
    <a type="button" [routerLink]="['/tests']" class="btn btn-primary">Tests</a>
  </div>
  <div class="col-sm d-grid gap-2">
    <a type="button" [routerLink]="['/teams']" class="btn btn-primary">Equipos</a>
  </div>
  <div class="col-sm d-grid gap-2" *ngIf="getSessionUser().isAdmin()">
    <a type="button" [routerLink]="['/admin']" class="btn btn-primary">Administración</a>
  </div>
  <div class="col-sm dropdown d-grid gap-2">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">
      {{getSessionUser().getUsername()}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" [routerLink]="['/profile', getSessionUser().getUsername()]">Editar perfil</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</div>