.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.60);
}

.dropdown-menu li{ position: relative; 	}
.nav-item .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
}
.nav-item .submenu-left{ 
    right:100%; left:auto;
}
.dropdown-menu > li:hover{ background-color: #f1f1f1 }
.dropdown-menu > li:hover > .submenu{ display: block; }