<div class="row m-3">
  <div class="col-sm d-grid gap-2" *ngIf="getSessionUser().isStudent()">
    <a type="button" [routerLink]="['/ptests']" class="btn btn-primary">Tests</a>
  </div>
  <div class="col-sm dropdown d-grid gap-2" *ngIf="!getSessionUser().isStudent()">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="testsMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">Tests</a>
    <ul class="dropdown-menu" aria-labelledby="testsMenuLink">
      <li><a class="dropdown-item" [routerLink]="['/etests']">Explorar Tests</a></li>
      <li><a class="dropdown-item" [routerLink]="['/etestsCreate']">Crear Test</a></li>
      <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'etests' ]">Mis Tests</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" [routerLink]="['/ptests']">Resolver tests</a></li>
    </ul>
  </div>
  <div class="col-sm dropdown d-grid gap-2" *ngIf="!getSessionUser().isStudent()">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="questionsMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">Preguntas</a>
    <ul class="dropdown-menu" aria-labelledby="questionsMenuLink">
      <li><a class="dropdown-item" [routerLink]="['/q']">Explorar Preguntas</a></li>
      <li><a class="dropdown-item" [routerLink]="['/qCreate']">Crear Pregunta</a></li>
      <li><a class="dropdown-item" [routerLink]="['/u', getSessionUser().getUsername(), 'q' ]">Mis Preguntas</a>
      </li>
    </ul>
  </div>
  <div class="col-sm d-grid gap-2">
    <a type="button" [routerLink]="['/teams']" class="btn btn-primary">Equipos</a>
  </div>
  <div class="col-sm d-grid gap-2" *ngIf="getSessionUser().isAdmin()">
    <a type="button" [routerLink]="['/admin']" class="btn btn-primary">Administración</a>
  </div>
  <div class="col-sm dropdown d-grid gap-2">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">
      {{getSessionUser().getUsername()}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" [routerLink]="['/profile', getSessionUser().getUsername()]">Editar perfil</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>
</div>