<footer class="footer py-3 bg-info">
	<div class="container">
		<div class="row">
			<span class="col-sm-6 text-white text-start">
				Aplicación web implementada por Javier Gatón Herguedas
			</span>
			<span class="col-sm-4 text-white text-start">Repositorio: <a role="button" class="link-light"
					href="https://github.com/javgat" target="_blank">javgat</a> / <a role="button"
					class="link-light" href="https://github.com/javgat/UVA-DevTest"
					target="_blank">UVA-DevTest</a></span>
			<span class="col-sm-2 text-white text-end">
				Licencia: MIT
			</span>
		</div>
	</div>
</footer>